.listingContainer{
    padding-top: 100px;
    text-align: center;    
}

@media only screen and (max-width: 760px) {
    .listingContainer{
        padding-top: 200px;
    }
}
p {
    font-weight: bold;
}
