<div class="listingContainer">
  <h1>Post a Property Listing</h1> 
  <h2>Enter a property that is available for rent below</h2> 
 
  <form name = "propteryPosting">
      <p>Address: <br>
      <input type="text" [(ngModel)]='address' name="address"><br> <br>
      Rent: <br>
      <input type="text" [(ngModel)]='rent' name="rent"><br> <br>
      Bedrooms: <br>
      <input type="text" [(ngModel)]='bedrooms'name="bedrooms"><br> <br>
      Bathrooms: <br>
      <input type="text" [(ngModel)]='bathrooms' name="bathrooms"><br> <br>
      Number of Tenants: <br>
      <input type="text" [(ngModel)]='tenants' name="inhabitants"><br> <br>
      
      </p>
      <div class="form-group">
        <label for="type">Type:</label> <br>
        <select class="form-control" [(ngModel)]='type' name="type" required>
          <option *ngFor="let t of types" [value]="t">{{t}}</option>
        </select>
      </div>
 <p>
   <br>
      Owner/Posters Name: <br>
      <input type = "text" [(ngModel)]='owner' name = "owner"><br>
        </p>
      <br>
      <button (click) = "postData()" id = "submit"> Post Listing! </button> 
      
    
    </form>

  
    <br>
  <p> Coded On the Cutting Edge of Technology</p>
</div>