<nav class="navbar-wrapper navbar-default navbar-fixed-top navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand text-success" href="">Housing Search</a>
    </div>
    <div class="btn-group">
        <ul class="nav navbar-nav">
          <li routerLinkActive='active'>
            <button routerLink="home">Home</button>
          </li>
          <li routerLinkActive='active'>
            <button routerLink="viewListings"> View Listings </button>
          </li>
          <li routerLinkActive='active'>
            <button routerLink="postListing"> Post Listings</button>
          </li>
        </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
