.brand{
    color: #FFD200 !important;
}

.nav-container{
    background-color:   #00539F;
}

.links{
    color: #FFD200 !important;
}

.active a {
    background-color: #bdbdbd !important; 
}

.glyphicon-menu-hamburger{
    color: #bdbdbd !important;
}
