
<div class = "listing-container" id = "mainContainer">

        <div class="title">
                {{properties.address}}
        </div>
        <div class= "image-container">
                <img src = {{link}}> 
                
        </div>
<div class = "row">

<div class = "col-md-7">
<div class = "info-table-container">
<table>
    
<tr> Rent: {{properties.rent}} </tr>
<tr> Tenants: {{properties.tenants}} </tr>
<tr> Bedrooms: {{properties.bedrooms}} </tr>
<tr> Bathrooms: {{properties.bathrooms}} </tr>
<tr> Owner: {{properties.owner}}</tr> 
</table>
</div>
</div>
</div>
</div>

