.listing-container{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.image-container {
    padding-top:20px;
}

.info-table-container {
    padding-top:45px;
    padding-left:15px;
}

.title {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 24px;
}

@media only screen and (max-width: 760px) {
    .listingContainer{
        padding-top: 200px;
    }
}
h1 {
    font-family: 'Dancing Script', Georgia, Times, serif;
    margin-top: 50px;
	font-size: 59px;
	line-height: 60px;
    font-weight: bold;
}
h2 {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
	font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}