.listingContainer{
    padding-top: 100px;
    text-align: center;
}

@media only screen and (max-width: 760px) {
    .listingContainer{
        padding-top: 200px;
    }
}
p {
    font-weight: bold;
}

.form-control {
    display: inline-block;
    width: 175px;
}

h1 {
    font-family: 'Dancing Script', Georgia, Times, serif;
    margin-top: 50px;
	font-size: 59px;
	line-height: 60px;
    font-weight: bold;
}
h2 {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
	font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}


