<div class="listingContainer">
  <h1> Search For Properties by Type</h1>

  <form id = "searchField">
    Maximum Rent: <br>
    <input type="text" id="maxrent"><br>
    Bedrooms: <br>
    <input type="text" id="bedrooms"><br>
    Number of Inhabitants: <br>
    <input type="text" id="inhabitants"><br>
    Type:<br>
    <input type="radio" name="apartment" value="apartment" checked> Apartment<br>
    <input type="radio" name="townhouse" value="townhouse"> Townhouse<br>
    <input type="radio" name="house" value="house"> Apartment <br>

    <button id = "submit"> Search! </button> 
    

  </form>

  <p>


    search-listings works!
  </p>
</div>