<div class="listingContainer">
  <h1> Search For Properties by Type</h1>

  <form id = "searchField">
    <p>
      Maximum Rent: <br>
    <input type="text" id="maxrent"><br><br>
    Bedrooms: <br>
    <input type="text" id="bedrooms"><br><br>
    Number of Inhabitants: <br>
    <input type="text" id="inhabitants"><br>
  </p>
  <div class="form-group">
    <label for="type">Type:</label> <br>
    <select class="form-control" [(ngModel)]='type' name="type" required>
      <option *ngFor="let t of types" [value]="t">{{t}}</option>
    </select>
  </div>
    <br>
    <button id = "submit"> Search! </button> 
    

  </form>

  <p>

    <br>
    search-listings works!
  </p>
</div>