<div class="listingContainer">
  <h1> Search For Properties by Type</h1>
  <h2> Fill All Applicable Fields</h2> 

  <form id = "searchField">
    <p>
      Maximum Rent: <br>
    <input type="text" [(ngModel)]='rent' name="rent"><br><br>
    Bedrooms: <br>
    <input type="text" [(ngModel)]='bedrooms' name='bedrooms'><br><br>
    Number of Tenants: <br>
    <input type="text" [(ngModel)]='tenants' name='tenants'><br>
  </p>
  <div class="form-group">
    <label for="type">Type:</label> <br>
    <select class="form-control" [(ngModel)]='type' name="type" required>
      <option *ngFor="let t of types" [value]="t">{{t}}</option>
    </select>
  </div>
    <br>
    <button id = "submit" (click) = "searchData()" > Search! </button> 

    

  </form>

  <div class = "properties-list">
    <li *ngFor = "let p of filteredType">
    <a [routerLink]="['/individual-listing', p.id]">{{p.address}}</a>
    </li>
  </div> 

  <p>

    <br>
    Sticky Floors not Included
  </p>
</div>