
@media only screen and (max-width: 760px) {
    .jumboContainer{
        padding-top: 200px;
        
    }
}
body {
    text-align: center;

    
}

.bannerTitle{
    font-family: 'College Block', Georgia, Times, serif;
    margin-top: 50px;
	font-size: 59px;
	line-height: 60px;
    font-weight: bold;
    text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
}
h1 {
    
    font-family: 'College Block', Georgia, Times, serif;
    margin-top: 50px;
	font-size: 59px;
	line-height: 60px;
    font-weight: bold;
    
}
h2 {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
	font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h3 {
    font-size: 30px;
    font: 'Berkshire Swash', Helvetica, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }