<div class="listingContainer">
  <h1>Current Properties Available</h1>
  <br>
  
  <div class = "properties-list">
      <ul>
      <li *ngFor = "let p of properties">
      <div id = "propertyBox">
        <div id = "propertyRow">
        <div id = "boxAddress">
          <a [routerLink]="['/individual-listing', p.address]">{{p.address}}</a>
        </div>
        <div id = "boxDetails">Rent:  {{p.rent}}</div>
        <div id = "boxDetails">Tenants:  {{p.tenants}}</div>
        <div id = "boxDetails">Bedrooms:  {{p.bedrooms}}</div>
      </div>
      </div>
      </li>
      </ul>
    </div> 

  <p>
      <br>
    The greatest property search around!
  </p>
</div>